.login-box{
    margin-top: 2rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
}
.login-wrapper{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
    padding: 4rem;
    background-color: var(--secondary-color);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: .5rem;
}
.login-box-header{
    text-align: center;
}
.login-box-header h1{
    color: var(--green-color);
    font-size: 1.5rem;
}
.login-box-header h3{
    margin-top: 1.5rem;
}
.login-box-header div{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
}
.login-box-header div button{
    padding: .5rem;
    background-color: rgb(184, 182, 182);
    border: none;
    border-radius: .2rem;
}
.login-box-form{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;

}
.login-box-form button{
    width: 100%;
    border-radius: .5rem;
    padding: 1rem .5rem;
    background-color: var(--green-color);
    color: white;
    border: none;
}
.login-input{
    padding: .5rem 1.5rem;
    border-radius: .5rem ;
    border: none;
    outline: none;
}
.login-input.valid{
    border: 5px solid var(--green-color) !important;
}
.login-input.notValid{
    border: 2px solid red!important;
}