.login-input{
    padding: .5rem 1.5rem;
    border-radius: .5rem ;
    border: none;
    outline: none;
}
.login-input.valid{
    border: 5px solid var(--green-color) !important;
}
.login-input.notValid{
    border: 2px solid red!important;
}
