@import url('./Reset.css');
@font-face {
    font-family: 'IRANSans';
    src: url('../Assets/fonts/Sans\ a4fran3.ttf') format('truetype');
}

:root {
    --font-family: 'IRANSans';
    --primary-color: #2F3041;
    --secondary-color: #282938;
    --white-color: #ffffff;
    --black-color: #000000;
    --green-color: #2ED573;
}

body{
    font-family: var(--font-family);
    background-color: var(--primary-color);
    color: var(--white-color);
    direction: rtl;
}

.container{
    width: 1200px;
}

@media screen and (max-width: 570px)  {
   body{
    font-size: 12px;
   }
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--green-color);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }