@font-face {
    font-family: 'IRANSans';
    src: url('../Assets/fonts/Sans\ a4fran3.ttf') format('truetype');
}

:root {
    --font-family: 'IRANSans';
    --primary-color: #2F3041;
    --secondary-color: #282938;
    --white-color: #ffffff;
    --black-color: #000000;
}

body{
    font-family: var(--font-family);
    background-color: var(--primary-color);
    direction: rtl;
}

.container{
    width: 1000px;
}