.category-header {
    background-color: var(--secondary-color);
    padding: 1rem;
    margin-top: 1rem;
    border-radius: .5rem;
}
.category-header-right{
    text-align: center;
}
.category-header select {
    background-color: unset;
    color: white;
    padding: .8rem 1rem;
    border-radius: 1rem;
    width: 300px;
    outline: 1px solid white;
}
.category-header select option{
    color: black;
}
.category-header-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-header-left input {
    padding: .8rem 1rem;
    border-radius: 1rem;
    outline: 1px solid white;
    background-color: unset;
    border: none;
    color: white;
}
.category-header-left input::placeholder{
    color: white;
}
.category-header-left svg {
    position: relative;
    left: 2rem;
    color: white;
}