.category-header {
    background-color: var(--secondary-color);
    padding: 1rem;
    margin-top: 2rem;
    border-radius: .5rem;
}
.category-header-right{
    text-align: center;
}
.category-header select,
option {
    background-color: rgb(97, 95, 95);
    color: white;
    padding: .8rem;
    border-radius: 1rem;
    
}

.category-header-left {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
}

.category-header-left input {
    padding: .8rem 1rem;
    border-radius: 1rem;
    background-color: rgb(97, 95, 95);
    border: none;
    color: white;
}

.category-header-left button {
    padding: .8rem;
    border-radius: 1rem;
    background-color: rgb(97, 95, 95);
    border: none;
    color: white;
}