.footer-section{
    margin-top: 4rem;
    padding-top: 1rem;
    text-align: center;
    background-color: var( --secondary-color);
}
.footer-Description h1{
  color: var(--green-color);
  margin-right: 2rem;
  font-size: 1.2rem;
  line-height: 2rem;
}
.footer-Description p{
    margin-top: 1rem;
    line-height: 2rem;
    text-align: justify;
}
.footer-information{
    margin-top: 2rem;
   
}
.footer-link{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footer-link ul{
    flex: 1;
}
.footer-link li{
    padding: 1rem;
    border-bottom: 1px solid rgb(255, 255, 255);
   font-size: 1rem;
  
}
.footer-work-time,.footer-Contact-us{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    row-gap: 2rem;
}
.footer-work-time p{
    line-height: 2rem;
}
.footer-image img{
    background-color: white;
    border-radius: 1rem;
    margin-top: 1rem;
}
.footer-copyright{
    margin-top: 2rem;
    padding: 1rem;
}